body{
    text-align: center;
}

.a {
    text-align: center;
}
.exposition1 p {
    font-size: 20px;
}

.exposition2 {
    margin-top: 50px;
}


.container{
    font-size: 20px;
    width: 1000px ;
    margin :0 auto;
    text-align: center;
}
 .container {
     text-align: left;
 }
