body {
    text-align: center;
<<<<<<< HEAD
    background-image: url("../img/woody.jpeg");
    background-size: cover;
=======
    /* background-image: url(../img/woody.jpeg); */
    width: 100%;
    border:20px solid orangered;/* 枠線 */
    box-sizing:border-box;
    margin-top: 20px;
>>>>>>> 16d48c008ef64ffb76f6e179789421fab7e2e40f
}

s img {
    height: 300px;
    width: 300px;
    margin: 10px 20px;
    border-radius: 10%;
}

.catch {
    font-size: 50px;
}

p.name{
    font-size: 35px;
}