body {
    text-align: center;
    background-image: url("../img/woody.jpeg");
    background-size: cover;
}

s img {
    height: 300px;
    width: 300px;
    margin: 10px 20px;

}

.catch {
    font-size: 50px;
}

/* div {
    width: 200px;
    height: 2000px;
    border: solid black 3px;
    position: relative;
}
p {
background-color: red;
width: 50px;
height: 50px;
position: fixed;
right: 10px;
bottom: 20px;
} */