<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <h1>らくらくビジョンボード</h1>
        </div>
    
        <div class="catch">
            <p>作って！！眺めて！！夢をかなえる</p>
        </div>
    
        <div class="images">
        <img src="../static/img/美上ボード１.png" alt="ビジョンボード１">
        <img src="../static/img/美上ボート２.png" alt="ビジョンボード２">
        <img src="../static/img/visionBoard３.png" alt="ビジョンボート３">
        </div>
    
    <div class="description1">
        <p>作るとき、眺めるときのワクワクな気持ちがなりたい自分を引き寄せるよ！</p>
    </div>
    
    <div class="description2">
        <p>それぞれのカテゴリーから写真を選ぶだけで,らくらくにビジョンボードが完成するよ！</p>
    </div>
    
    404 NOT FOUND
    お探しのページが見つかりません。
URLに誤りがあるか、お探しのページは移動もしくは削除された可能性があります。

    
</body>
</html>