<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutpage.css">
    <title>Document</title>
</head>
<body>

    <div class="exposition1">
        <h1>夢を叶えるために</h1>
        <h2><font color="#ea1244">ビジョンボードはあなたの夢を視覚化してくれるツールです。
            <br>眺めていると、叶えたい夢がはっきりとイメージでき、不思議と叶っていくよ。</font></h2>
    
    <div class="exposition2">
        <h2>～ビジョンボードの作り方・使い方～</h2>
    </div>

    <div class="container">

        <h4>●自分の人生がどうなってほしいのかを意識的に想像しよう。</h4>
            <ul>一般的には「ほしいものリスト」「やりたいことリスト」をたくさん書き出すよ
            <br>（この『らくらくビジョンボード』ではこの後の行程の写真を選ぶ＆並べる作業をやってくれるよ）</p> 
            </ul>
        <h4>●考えたことのうちから、今年ぜひ叶えたい夢を厳選しよう。</h4>
            <ul>夢を絞ることでエネルギーを集中してそそぐんだ。
            <br>（この『らくらくビジョンボード』では夢のカテゴリー７つが用意されているよ）</p>
            </ul>

        <h4>●選んだ夢に近いイメージの写真を選ぼう。</h4>
            <ul>選びながら、叶ったときのことをニヤニヤ想像するのがコツだよ。
            <br>（この『らくらくビジョンボード』では次へと進むことでカテゴリー７つを選択するよ）</p>
            </ul>

        <h4>●さぁ。選んだ写真が並んだ。これがビジョンボードだよ。</h4>
            <ul>『らくらくビジョンボード』が選んだ写真を並べて表示してくれる。</ul>
                
            <div><H3><font color="#ea1244">自分で作成したビジョンボードにはあなたの夢が凝縮されているよ。
            <br>1日３分以上眺めて、叶った時のことを想像しながらワクワクする気持ちを感じよう。
            これ大事。</font></H3>
            </div>
        </p>

    </div>

<a href="./toppage.html">□top pageへもどる</a>



</body>
</html>