<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutpage.css">
    <title>Document</title>
</head>
<body>

    <div class="exposition1">
        <h1>夢を叶えるために</h1>
           <P>ビジョンボードはあなたの夢を視覚化してくれるツールです。
            眺めていると、叶えたい夢がはっきりイメージでき、不思議と叶っていくよ.</p>
    </div>
    <div class="exposition2">
        <h2>～ビジョンボードの作り方・使い方～</h2>


    <div class="container">

        <p>●自分の人生がどうなってほしいのかを意識的に想像する
            一般的には「ほしいものリスト」「やりたいことリスト」をたくさん書き出すよ
            <br>（このらくらくビジョンボードではあとで出てくる写真を選ぶ＆並べる作業をやってくれるよ）</p>  

        <p>●考えたことのうちから、今年ぜひ叶えたい夢を厳選しよう
            夢を絞ることでエネルギーを集中してそそぐんだ。
            <br>（このらくらくビジョンボードでは７つのカテゴリーの夢が用意されているよ）</p>


        <p>●選んだ夢に近いイメージの写真を選ぼう。
            選びながら、叶ったときのことをニヤニヤ想像するのがコツだよ。
            <br>（このらくらくビジョンボードでは次へと進むことで７つのカテゴリーを選択するよ）</p>


        <p>●さぁ。選んだ写真が並んだ。これがビジョンボードだよ。
            自分で作成したビジョンボードにはあなたの夢が凝縮されているよ。
            1日３分以上眺めて、叶った時のことを想像してワクワクする気持ちを感じよう。
            これ大事。
        </p>






    </div>
<a href="./toppage.html">□top pageへもどる</a>



</body>
</html>