<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/finalpage.css">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <img src = "../static/img/tree.jpg" width="250" height="180"/>

    <div class="message">
    <h3>これまでの写真選びで気持ちは高まってきたかな？</h3>
<h3>写真を見て「こんなの叶うわけなんかない」と考えるのは厳禁！</h3>

<h3>「なぜかわからないけどなんか上手くいっちゃうかも！」と考えてみよう。</h3>

<h3>あなたは人生の主だ。本当はなんだって出来るんだよ。</h3>
<!-- <h3>小さな夢を叶えることを積み上げていくと自信がついてくるよ。</h3> -->
<h3>自分を信じよう。</h3>
</div>

<form action="visionBoard.html">
	<p>あなたの名前を書き込んでね！</p>
	<input type="text" name="user_name">
	<input type="submit" value="ビジョンボードを作成！" id="button2" style="cursor:pointer"; >

</form>


</body>
</html>
