<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step5.png" alt="selectpic">
    
    <h2>～仕事以外でやりたいこと～</h2>
    </div>

    <div class="wording">
        <br>人生、好きなことを思う存分やってみたいよね。まだやっていない理由はなんだろう？
        <br>お金？時間？誰かにとめられちゃう？あなたの夢、今年こそは手をつけてみよう 。
        <br>「これがやりたい」と強く願い、叶った時の気持ちを味わうことが鍵なんだよ。
        <br>都合良く、願ったことが向こうからやってくることもあると信じてみて。
    </div>

        <div align="center">
        <img src="../static/img/select.png" alt="selectpic">

   

    <div class="picselect">
        <table border="0">
            <tr>
            <td><img src="../static/img/kate-images/kate1-money/1.jpg></td>
            <td><img src="画像ファイルのURL"></td>un
            <td><img src="画像ファイルのURL"></td>
            </tr>
            </table>

        <table border="0">
                <tr>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                </tr>
                </table>
    </div>     </div> 


</body>
</html>