<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>普通のボタンテスト</h1>

    <h1>{{ title }}</h1>
	<p>{{ message }}</p>
	<form action="/submitted" method="POST" enctype="multipart/form-data">
		<div>
			<label for="name">名前：</label>
			<input type="text" id="name" name="name" placeholder="名前">	
		</div>
		<div>
			<input type="submit" value="送信">
		</div>
	</form>

    <h1>画像ボタン</h1>

    <form action="/imagebottun" method="POST">
    <p>
    入力欄：<input type="text" name="imagebottun">
    </p>
    <p>
    <input type="image" src="../static/img/icon.jpeg" alt="送信">
    </p>
	<p>{{ message2 }}</p>
    </form>

    <h1>画像ボタン2</h1>

    <form action="/imagebottun2" method="POST">
        <input type="image" src="../static/img/icon.jpeg" name="imagebottun" alt="送信">
        <p>{{ message3 }}</p>
    </form>


    <h1>選択されたボタンごとに表示を変える</h1>
    <form action="/radio" method="POST">
    <p>3択<br>
    <input type="radio" name="q1" value="はい">はい
    <input type="radio" name="q1" value="いいえ">いいえ
    <input type="radio" name="q1" value="どちらでもない">どちらでもない
    </p>
    <input type="submit" value="送信する">
    </form>
    {{ ans }}

    <h1>選択されたボタンごとに違う画像を表示</h1>
    <form action="/radio2" method="POST">
    <p>3択<br>
    <input type="radio" name="q1" value="はい">はい
    <input type="radio" name="q1" value="いいえ">いいえ
    <input type="radio" name="q1" value="どちらでもない">どちらでもない
    </p>
    <input type="submit" value="送信する">
    </form>
    <img src="{{ url }}" alt="画像">
    

</body>
</html>