<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step4.png" alt="selectpic">
    
    <h2>～理想の仕事やライフワーク～</h2>
    </div>

    <div class="wording">
        <br>今の仕事や職場に満足しているならそれはとても素晴らしいこと！

        <br>もしもどんな願いも叶うのなら、今の仕事を続ける？ほかのことに挑戦したい？
        <br>副業やたとえ収入に結びつかなくともライフワークとして携わるならきっと
        <br>それはあなたをとても幸せにしてくれるよ。
    </div>

        <div align="center">
        <img src="../static/img/select.png" alt="selectpic">

   

    <div class="picselect">
        <table border="0">
            <tr>
            <td><img src="../static/img/kate-images/kate1-money/1.jpg></td>
            <td><img src="画像ファイルのURL"></td>un
            <td><img src="画像ファイルのURL"></td>
            </tr>
            </table>

        <table border="0">
                <tr>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                </tr>
                </table>
    </div>     </div> 


</body>
</html>