<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step2.png" alt="selectpic">
    
    <h2>～パッション？安らぎ？理想の関係～</h2>
    </div>

    <div class="wording">
        <br>ひとりの時間も大切だけど、一緒に喜んだり笑ったりすることのできる。
        <br>家族やパートナーの存在も大事にしたい。たとえまだ独り身でも妄想してみて。
        <br>あなたの望む理想は、その人(達)とどう過ごすことかな？
        <br>安らぐ時間を過ごしたい？情熱的なドキドキする経験をしてみたいのかな？
    </div>

        <div align="center">
        <img src="../static/img/select.png" alt="selectpic">

   

    <div class="picselect">
        <table border="0">
            <tr>
            <td><img src="../static/img/kate-images/kate1-money/1.jpg></td>
            <td><img src="画像ファイルのURL"></td>un
            <td><img src="画像ファイルのURL"></td>
            </tr>
            </table>

        <table border="0">
                <tr>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                </tr>
                </table>
    </div>     </div> 


</body>
</html>