<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step7.png" alt="selectpic">
    
    <h2>～欲望は行動のエネルギーをあげる～</h2>
    </div>

    <div class="wording">
        <br>あれも欲しい、これも手にいれたい。
        <br>そんな欲があるから頑張れる。欲を行動につなげよう。
        <br>本当に欲しいものがあれば、考える前に動いていることだってあるかもしれないよ。
        <br>小さな欲をコツコツと叶えることが大きな夢実現への近道なんだ。

    </div>

        <div align="center">
        <img src="../static/img/select.png" alt="selectpic">

   

    <div class="picselect">
        <table border="0">
            <tr>
            <td><img src="../static/img/kate-images/kate1-money/1.jpg></td>
            <td><img src="画像ファイルのURL"></td>
            <td><img src="画像ファイルのURL"></td>
            </tr>
            </table>

        <table border="0">
                <tr>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                </tr>
                </table>
    </div>     </div> 


</body>
</html>