<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/step.css">
    <title>Document</title>
</head>

<body>
    <div class="title">
    <img src="../static/img/step1.png" alt="selectpic">
    
    <h2>～お金の望みを具体化しよう～</h2>
    </div>

    <div class="wording">
        <br>お金がなくても叶う夢はあるけれどお金があると行動に移しやすくなるよね。
        <br>あなたはいくらくらいの収入が欲しい？月収30万円、300万円？もっと？
        <br>労働で得る収入もあるし、思いがけず誰かからもらうってこともあるんだよ。
    </div>

        <div align="center">
        <img src="../static/img/select.png" alt="selectpic">

   

    <div class="picselect">
        <table border="0">
            <tr>
            <td><img src="../static/img/kate-images/kate1-money/1.jpg></td>
            <td><img src="画像ファイルのURL"></td>un
            <td><img src="画像ファイルのURL"></td>
            </tr>
            </table>

        <table border="0">
                <tr>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                <td><img src="画像ファイルのURL"></td>
                </tr>
                </table>
    </div>     </div> 


</body>
</html>