<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./toppage.css">
    <script src="./toppage.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="logo">
    <h1>らくらくvisionBoard</h1>
    </div>

    <div class="images">
    <img src="../static/img/美上ボード１.png" alt="ビジョンボード１">
    <img src="../static/img/美上ボート２.png" alt="ビジョンボード２">
    <img src="../static/img/画像３.jpg" alt="ビジョンボート３">
    </div>

<div class="container">
    <button class="button-bop">
       さっそく作ってみる！！   
     </button>
     <button class="button-bop2">
        さっそく作ってみる！！   
      </button>

</body>
</html>